services:
  dbt_project_dev:
    build: .
    # entrypoint: ["/bin/sh"]
    volumes:
      - ~/.config/gcloud:/app/.config/gcloud:ro
    environment:
      DBT_TARGET: dev
      GCP_LOCATION: us-central1
      GCP_PROJECT_ID: ${GCP_PROJECT_ID}
      GCP_CLIENT_EMAIL: ${GCP_CLIENT_EMAIL}

  dbt_project_ci:
    build: .
    volumes:
      - ${GOOGLE_APPLICATION_CREDENTIALS:-/dev/null}:/app/gcp-credentials.json:ro
    environment:
      DBT_TARGET: dev
      GCP_LOCATION: us-central1
      GCP_PROJECT_ID: ${GCP_PROJECT_ID}
      GCP_CLIENT_EMAIL: ${GCP_CLIENT_EMAIL}
      GOOGLE_APPLICATION_CREDENTIALS: /app/gcp-credentials.json
