on:
  workflow_call:
    inputs:
      gcp-project-id:
        required: true
        type: string
      gcp-workload-identity-provider:
        required: true
        type: string
      gcp-service-account:
        required: true
        type: string
      terraform-project:
        required: true
        type: string

env:
  terraform-version: "1.12.2"
  terraform-plan-file-retention-days: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  terraform-validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: ${{ inputs.terraform-project }}

    outputs:
      summary: ${{ steps.persist-terraform-validate-output.outputs.summary }}
      details: ${{ steps.persist-terraform-validate-output.outputs.details }}

    steps:
      - name: Setup Terraform on Google Cloud Platform
        uses: ./.github/actions/setup-terraform-on-gcp
        with:
          gcp-project-id: ${{ inputs.gcp-project-id }}
          gcp-workload-identity-provider: ${{ inputs.gcp-workload-identity-provider }}
          gcp-service-account: ${{ inputs.gcp-service-account }}
          terraform-project: ${{ inputs.terraform-project }}
          terraform-version: ${{ env.terraform-version }}

      - name: Terraform Validate
        id: terraform-validate
        run: terraform validate -no-color

      - name: Persist Terraform Validate Output
        id: persist-terraform-validate-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-validate.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-validate.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-plan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    needs: terraform-validate

    defaults:
      run:
        working-directory: ${{ inputs.terraform-project }}

    outputs:
      summary: ${{ steps.persist-terraform-plan-output.outputs.summary }}
      details: ${{ steps.persist-terraform-plan-output.outputs.details }}

    steps:
      - name: Setup Terraform on Google Cloud Platform
        uses: ./.github/actions/setup-terraform-on-gcp
        with:
          gcp-project-id: ${{ inputs.gcp-project-id }}
          gcp-workload-identity-provider: ${{ inputs.gcp-workload-identity-provider }}
          gcp-service-account: ${{ inputs.gcp-service-account }}
          terraform-project: ${{ inputs.terraform-project }}
          terraform-version: ${{ env.terraform-version }}

      - name: Terraform Plan
        id: terraform-plan
        run: terraform plan -no-color -out=${{ inputs.gcp-project-id }}

      - name: Persist Terraform Plan Output File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.gcp-project-id }}
          path: ${{ inputs.terraform-project }}/${{ inputs.gcp-project-id }}
          retention-days: ${{ env.terraform-plan-file-retention-days }}

      - name: Persist Terraform Plan Output
        id: persist-terraform-plan-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-plan.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-plan.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-print-validate-and-plan:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    needs:
      - terraform-validate
      - terraform-plan

    steps:
      - name: Comment on Pull Request
        uses: actions/github-script@v7
        with:
          script: |
            const body = `
            <h2>Terraform [${{ inputs.gcp-project-id }}]</h2>

            <details>
              <summary>
                <b>Validate:</b>
                <span>${{ needs.terraform-validate.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-validate.outputs.details }}</pre>
            </details>

            <details>
              <summary>
                <b>Plan:</b>
                <span>${{ needs.terraform-plan.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-plan.outputs.details }}</pre>
            </details>
            `

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })

  terraform-apply:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment: terraform-manual-approval

    needs: terraform-print-validate-and-plan

    defaults:
      run:
        working-directory: ${{ inputs.terraform-project }}

    outputs:
      summary: ${{ steps.persist-terraform-apply-output.outputs.summary }}
      details: ${{ steps.persist-terraform-apply-output.outputs.details }}

    steps:
      - name: Setup Terraform on Google Cloud Platform
        uses: ./.github/actions/setup-terraform-on-gcp
        with:
          gcp-project-id: ${{ inputs.gcp-project-id }}
          gcp-workload-identity-provider: ${{ inputs.gcp-workload-identity-provider }}
          gcp-service-account: ${{ inputs.gcp-service-account }}
          terraform-project: ${{ inputs.terraform-project }}
          terraform-version: ${{ env.terraform-version }}

      - name: Retrieve Terraform Plan File
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.gcp-project-id }}
          path: ${{ inputs.terraform-project }}

      - name: Terraform Apply
        id: terraform-apply
        run: terraform apply -no-color -auto-approve ${{ inputs.gcp-project-id }}

      - name: Persist Terraform Apply Output
        id: persist-terraform-apply-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-apply.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-apply.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-print-apply:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    needs: terraform-apply

    steps:
      - name: Comment on Pull Request
        uses: actions/github-script@v7
        with:
          script: |
            const body = `
            <h2>Terraform [${{ inputs.gcp-project-id }}]</h2>

            <details>
              <summary>
                <b>Apply:</b>
                <span>${{ needs.terraform-apply.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-apply.outputs.details }}</pre>
            </details>
            `

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })
