on:
  workflow_call:
    inputs:
      gcp-project-id:
        required: true
        type: string
      gcp-workload-identity-provider:
        required: true
        type: string
      gcp-service-account:
        required: true
        type: string
      terraform-project:
        required: true
        type: string

env:
  terraform-version: "1.12.2"
  terraform-plan-file-retention-days: 1
  terraform-environment: terraform-manual-approval

jobs:
  terraform-validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    outputs:
      summary: ${{ steps.persist-terraform-cmd-output.outputs.summary }}
      details: ${{ steps.persist-terraform-cmd-output.outputs.details }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      # https://github.com/google-github-actions/auth
      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ inputs.gcp-project-id }}
          workload_identity_provider: ${{ inputs.gcp-workload-identity-provider }}
          service_account: ${{ inputs.gcp-service-account }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform-version }}

      - name: Terraform Init
        run: terraform -chdir=${{ inputs.terraform-project }} init -no-color

      - name: Terraform Validate
        id: terraform-cmd
        run: terraform -chdir=${{ inputs.terraform-project }} validate -no-color

      - name: Persist Terraform Validate Output
        id: persist-terraform-cmd-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-cmd.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-cmd.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
  terraform-plan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    needs: terraform-validate

    outputs:
      summary: ${{ steps.persist-terraform-cmd-output.outputs.summary }}
      details: ${{ steps.persist-terraform-cmd-output.outputs.details }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ inputs.gcp-project-id }}
          workload_identity_provider: ${{ inputs.gcp-workload-identity-provider }}
          service_account: ${{ inputs.gcp-service-account }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform-version }}

      - name: Terraform Init
        run: terraform -chdir=${{ inputs.terraform-project }} init -no-color

      - name: Terraform Plan
        id: terraform-cmd
        run: terraform -chdir=${{ inputs.terraform-project }} plan -no-color -out=${{ inputs.gcp-project-id }}

      - name: Persist Terraform Plan Output File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.gcp-project-id }}
          path: ${{ inputs.terraform-project }}/${{ inputs.gcp-project-id }}
          retention-days: ${{ env.terraform-plan-file-retention-days }}

      - name: Persist Terraform Plan Output
        id: persist-terraform-cmd-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-cmd.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-cmd.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-print-validate-and-plan:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    needs:
      - terraform-validate
      - terraform-plan

    steps:
      - name: Comment on Pull Request
        uses: actions/github-script@v7
        with:
          script: |
            const body = `
            <h2>Terraform [${{ inputs.gcp-project-id }}]</h2>

            <details>
              <summary>
                <b>Validate:</b>
                <span>${{ needs.terraform-validate.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-validate.outputs.details }}</pre>
            </details>

            <details>
              <summary>
                <b>Plan:</b>
                <span>${{ needs.terraform-plan.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-plan.outputs.details }}</pre>
            </details>
            `

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })

  terraform-apply:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment: ${{ env.terraform-environment }}

    needs: terraform-print-validate-and-plan

    outputs:
      summary: ${{ steps.persist-terraform-cmd-output.outputs.summary }}
      details: ${{ steps.persist-terraform-cmd-output.outputs.details }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ inputs.gcp-project-id }}
          workload_identity_provider: ${{ inputs.gcp-workload-identity-provider }}
          service_account: ${{ inputs.gcp-service-account }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform-version }}

      - name: Terraform Init
        run: terraform -chdir=${{ inputs.terraform-project }} init -no-color

      - name: Retrieve Terraform Plan File
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.gcp-project-id }}
          path: ${{ inputs.terraform-project }}

      - name: Terraform Apply
        id: terraform-cmd
        run: terraform -chdir=${{ inputs.terraform-project }} apply -no-color -auto-approve ${{ inputs.gcp-project-id }}

      - name: Persist Terraform Apply Output
        id: persist-terraform-cmd-output
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform-cmd.outcome }}'
            echo 'EOF'

            echo 'details<<EOF'
            echo '${{ steps.terraform-cmd.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-print-apply:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    needs: terraform-apply

    steps:
      - name: Comment on Pull Request
        uses: actions/github-script@v7
        with:
          script: |
            const body = `
            <h2>Terraform [${{ inputs.gcp-project-id }}]</h2>

            <details>
              <summary>
                <b>Apply:</b>
                <span>${{ needs.terraform-apply.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-apply.outputs.details }}</pre>
            </details>
            `

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })
