name: Deploy Terraform Staging

on:
  pull_request:
    branches:
      - main
    paths:
      - terraform/mathews-recurring-revenue-stg/**.tf

jobs:
  deploy-terraform-stg:
    uses: ./.github/workflows/deploy-terraform.yml
    with:
      gcp-project-id: mathews-recurring-revenue-stg
      gcp-workload-identity-provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
      gcp-service-account: github@mathews-recurring-revenue-stg.iam.gserviceaccount.com
      terraform-project: terraform/mathews-recurring-revenue-stg
