name: Deploy dbt Project Staging

on:
  pull_request:
    branches:
      - main
    paths:
      - dbt_project/**

jobs:
  dbt-project-deploy-stg:
    uses: ./.github/workflows/deploy-dbt-project.yml
    with:
      gcp-project-id: mathews-recurring-revenue-stg
      gcp-workload-identity-provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
      gcp-service-account: github@mathews-recurring-revenue-stg.iam.gserviceaccount.com
