name: Deploy dbt Project Production

on:
  push:
    branches:
      - main
    paths:
      - dbt_project/**

jobs:
  dbt-project-deploy-prd:
    uses: ./.github/workflows/deploy-dbt-project.yml
    with:
      gcp-project-id: mathews-recurring-revenue-prd
      gcp-workload-identity-provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
      gcp-service-account: github@mathews-recurring-revenue-prd.iam.gserviceaccount.com
      gcp-artifacts-bucket: gs://mathews-recurring-revenue-prd-dbt-project-bucket
      gcp-artifacts-bucket-prd: gs://mathews-recurring-revenue-prd-dbt-project-bucket
      gcp-service-account-dbt: dbt-project@mathews-recurring-revenue-prd.iam.gserviceaccount.com
