on:
  workflow_call:
    inputs:
      gcp-project-id:
        required: true
        type: string
      gcp-workload-identity-provider:
        required: true
        type: string
      gcp-service-account:
        required: true
        type: string
      gcp-artifacts-bucket:
        required: true
        type: string

env:
  DBT_TARGET: dev
  GCP_CLIENT_EMAIL: dbt-project@mathews-recurring-revenue-stg.iam.gserviceaccount.com
  GCP_LOCATION: US
  GCP_PROJECT_ID: mathews-recurring-revenue-stg

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.gcp-project-id }}
  cancel-in-progress: true

jobs:
  dbt-project-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: dbt_project

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5
        
      - name: Echo
        run: echo $GITHUB_WORKSPACE

      # - uses: ./.github/actions/authenticate-to-gcp
      #   with:
      #     gcp-project-id: ${{ inputs.gcp-project-id }}
      #     gcp-workload-identity-provider: ${{ inputs.gcp-workload-identity-provider }}
      #     gcp-service-account: ${{ inputs.gcp-service-account }}

      # - name: Setup Python
      #   uses: actions/setup-python@v6
      #   with:
      #     python-version-file: "dbt_project/.python-version"

      # - name: Install uv
      #   uses: astral-sh/setup-uv@v7
      #   with:
      #     version: "0.9.21"
      #     enable-cache: true

      # - name: Install Python Dependencies
      #   run: uv sync

      # - name: Install dbt Dependencies
      #   run: uv run dbt deps

      # - name: Debug dbt
      #   run: |
      #     gcloud storage cp \
      #       ${{ inputs.gcp-artifacts-bucket }}/artifacts/manifest.json \
      #       dbt_core/artifacts

      # - name: Run Modified Seeds
      #   run: |
      #     if [ -f "artifacts/manifest.json" ]; then
      #       dbt seed --defer --state artifacts --select state:modified
      #     else
      #       dbt seed
      #     fi

      # - name: Run Modified Models
      #   run: |
      #     if [ -f "artifacts/manifest.json" ]; then
      #       dbt run --defer --state artifacts --select state:modified
      #     else
      #       dbt run
      #     fi

      # - name: Generate Docs
      #   run: |
      #     dbt docs generate \
      #       --static \
      #       --no-compile \
      #       --defer \
      #       --state $CIRCLE_WORKING_DIRECTORY/dbt_core/artifacts \
      #       --target-path artifacts \
      #       --select state:modified \
      #       --exclude models/migration_validation

      # - name: Generate Docs
      #   run: |
      #     gcloud storage cp \
      #       artifacts/static_index.html \
      #       ${{ inputs.gcp-artifacts-bucket }}/artifacts \
