on:
  workflow_call:
    inputs:
      gcp-project-id:
        required: true
        type: string
      gcp-workload-identity-provider:
        required: true
        type: string
      gcp-service-account:
        required: true
        type: string
      gcp-artifacts-bucket:
        required: true
        type: string

env:
  DBT_TARGET: dev
  GCP_CLIENT_EMAIL: dbt-project@mathews-recurring-revenue-stg.iam.gserviceaccount.com
  GCP_LOCATION: US
  GCP_PROJECT_ID: mathews-recurring-revenue-stg
  # MMRR_ACCOUNTING_LIFE_START_DATE: '2022-01-04'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.gcp-project-id }}
  cancel-in-progress: true

jobs:
  dbt-project-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: dbt_project

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      - uses: ./.github/actions/authenticate-to-gcp
        id: gcp-auth
        with:
          gcp-project-id: ${{ inputs.gcp-project-id }}
          gcp-workload-identity-provider: ${{ inputs.gcp-workload-identity-provider }}
          gcp-service-account: ${{ inputs.gcp-service-account }}

      - name: Log
        run: |
          echo $GOOGLE_APPLICATION_CREDENTIALS
          cat $GOOGLE_APPLICATION_CREDENTIALS

      - name: Build Docker Image
        run: docker compose build dbt_project_ci

      - name: Run dbt debug
        env:
          GCP_PROJECT_ID: ${{ inputs.gcp-project-id }}
          GCP_CLIENT_EMAIL: dbt-project@mathews-recurring-revenue-stg.iam.gserviceaccount.com
        run: |
          docker compose run --rm dbt_project_ci debug
