name: Terraform Deploy Staging

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'
  push:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      pull-requests: write

    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      # https://github.com/google-github-actions/auth
      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          project_id: mathews-recurring-revenue-stg
          workload_identity_provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
          service_account: github-actions@mathews-recurring-revenue-stg.iam.gserviceaccount.com

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2"

      - name: Terraform Init
        id: terraform_init
        run: terraform -chdir=terraform/mathews-recurring-revenue-stg init -no-color

      - name: Terraform Validate
        id: terraform_validate
        run: terraform -chdir=terraform/mathews-recurring-revenue-stg validate -no-color

      - name: Terraform Plan
        id: terraform_plan
        run: terraform -chdir=terraform/mathews-recurring-revenue-stg plan -no-color -out=terraform_plan
  
      # - name: Print Message
      #   run: |
      #     cat <<EOF
      #       ## Terraform

      #       #### Info

      #       - **Pusher:** @${{ github.actor }}
      #       - **Action:** ${{ github.event_name }}
      #       - **Workflow:** ${{ github.workflow }}

      #       #### Summary

      #       - **Initialization:** ${{ steps.terraform_init.outcome }}
      #       - **Validation:** ${{ steps.terraform_validate.outcome }}
      #       - **Plan:** ${{ steps.terraform_plan.outcome }}

      #       #### Details

      #     - **Initialization:** 
      #       \`\`\`\n
      #       ${{ steps.terraform_init.outputs.stdout }}
      #       \`\`\`

      #     - **Validation:** 
      #       \`\`\`\n
      #       ${{ steps.terraform_validate.outputs.stdout }}
      #       \`\`\`

      #     - **Plan:** 
      #       \`\`\`\n
      #       ${{ steps.terraform_plan.outputs.stdout }}
      #       \`\`\`
      #     EOF

      # - name: Print Message
      #   run: |
      #     cat <<EOF
      #       ## Terraform

      #       #### Info

      #       - **Pusher:** @${{ github.actor }}
      #       - **Action:** ${{ github.event_name }}
      #       - **Workflow:** ${{ github.workflow }}

      #       #### Summary

      #       - **Initialization:** ${{ steps.terraform_init.outcome }}
      #       - **Validation:** ${{ steps.terraform_validate.outcome }}
      #       - **Plan:** ${{ steps.terraform_plan.outcome }}

      #       #### Details

      #     - **Initialization:** 
      #       ```
      #       ${{ steps.terraform_init.outputs.stdout }}
      #       ```

      #     - **Validation:** 
      #       ```
      #       ${{ steps.terraform_validate.outputs.stdout }}
      #       ```

      #     - **Plan:** 
      #       ```
      #       ${{ steps.terraform_plan.outputs.stdout }}
      #       ```
      #     EOF

      - name: Decorate PR
        uses: actions/github-script@v7
        with:
          script: |
            const output = `
            ## Terraform

            #### Info

            - **Pusher:** @${{ github.actor }}
            - **Action:** ${{ github.event_name }}
            - **Workflow:** ${{ github.workflow }}

            #### Summary

            - **Initialization:** ${{ steps.terraform_init.outcome }}
            - **Validation:** ${{ steps.terraform_validate.outcome }}
            - **Plan:** ${{ steps.terraform_plan.outcome }}

            #### Details

            - **Initialization:** 
            ```
            ${{ steps.terraform_init.outputs.stdout }}
            ```

            - **Validation:** 
            \`\`\`
            ${{ steps.terraform_validate.outputs.stdout }}
            \`\`\`

            - **Plan:** 
            \`\`\`\n
            ${{ steps.terraform_plan.outputs.stdout }}
            \`\`\`
            `;

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
