name: Terraform Deploy Staging

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'
  push:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'

jobs:
  # terraform-validate:
  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: read
  #     id-token: write

  #   outputs:
  #     summary: ${{ steps.persist_result.outputs.summary }}
  #     details: ${{ steps.persist_result.outputs.details }}

  #   steps:
  #     - name: Clone Repository
  #       uses: actions/checkout@v5

  #     # https://github.com/google-github-actions/auth
  #     - name: Authenticate to Google Cloud Platform
  #       uses: google-github-actions/auth@v3
  #       with:
  #         project_id: mathews-recurring-revenue-stg
  #         workload_identity_provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
  #         service_account: github-actions@mathews-recurring-revenue-stg.iam.gserviceaccount.com

  #     - name: Install Terraform
  #       uses: hashicorp/setup-terraform@v3
  #       with:
  #         terraform_version: "1.12.2"

  #     - name: Terraform Init
  #       run: terraform -chdir=terraform/mathews-recurring-revenue-stg init -no-color

  #     - name: Terraform Validate
  #       id: terraform_validate
  #       run: terraform -chdir=terraform/mathews-recurring-revenue-stg validate -no-color

  #     # - name: Persist Result
  #     #   id: persist_result
  #     #   run: |
  #     #     cat <<EOF >> "$GITHUB_OUTPUT"
  #     #     summary=${{ steps.terraform_validate.outcome }}
  #     #     details=${{ steps.terraform_validate.outputs.stdout }}
  #     #     EOF

  #     - name: Persist Result
  #       id: persist_result
  #       run: |
  #         echo "summary<<EOF"$'\n'"${{ steps.terraform_validate.outcome }}"$'\n'EOF >> "$GITHUB_OUTPUT".
  #         echo "details<<EOF"$'\n'"${{ steps.terraform_validate.outputs.stdout }}"$'\n'EOF >> "$GITHUB_OUTPUT".


  terraform-plan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    # needs: terraform-validate

    outputs:
      summary: ${{ steps.persist_result.outputs.summary }}
      details: ${{ steps.persist_result.outputs.details }}


    steps:
      - name: Clone Repository
        uses: actions/checkout@v5

      - name: Authenticate to Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          project_id: mathews-recurring-revenue-stg
          workload_identity_provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
          service_account: github-actions@mathews-recurring-revenue-stg.iam.gserviceaccount.com

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2"

      - name: Terraform Init
        run: terraform -chdir=terraform/mathews-recurring-revenue-stg init -no-color

      - name: Terraform Plan
        id: terraform_plan
        run: terraform -chdir=terraform/mathews-recurring-revenue-stg plan -no-color -out=terraform_plan

      # - name: Persist Summary
      #   id: persist_summary
      #   run: echo "value=${{ steps.terraform_plan.outcome }}" >> "$GITHUB_OUTPUT"

      # - name: Persist Details
      #   id: persist_details
      #   run: echo "value=${{ steps.terraform_plan.outputs.stdout }}" >> "$GITHUB_OUTPUT"

      - name: Persist Result
        id: persist_result
        run: |
          {
            echo 'summary<<EOF'
            echo '${{ steps.terraform_plan.outcome }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

          {
            echo 'details<<EOF'
            echo '${{ steps.terraform_plan.outputs.stdout }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  terraform-print:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    needs: 
      # - terraform-validate
      - terraform-plan

    steps:
      - name: Decorate PR
        uses: actions/github-script@v7
        with:
          script: |
            const body = `
            <h2>Terraform</h2>

            # <details>
            #   <summary>
            #     <b>Validation:</b>
            #     <span>${{ needs.terraform-validate.outputs.summary }}</span>
            #   </summary>

            #   <pre>${{ needs.terraform-validate.outputs.details }}</pre>
            # </details>

            <details>
              <summary>
                <b>Validation:</b>
                <span>${{ needs.terraform-plan.outputs.summary }}</span>
              </summary>

              <pre>${{ needs.terraform-plan.outputs.details }}</pre>
            </details>
            `

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            })

  # terraform-apply:
  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: read
  #     id-token: write
  #     pull-requests: write
  #     issues: write

  #   steps:
  #     - name: Clone Repository
  #       uses: actions/checkout@v5

  #     - name: Authenticate to Google Cloud Platform
  #       uses: google-github-actions/auth@v3
  #       with:
  #         project_id: mathews-recurring-revenue-stg
  #         workload_identity_provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
  #         service_account: github-actions@mathews-recurring-revenue-stg.iam.gserviceaccount.com

  #     - name: Install Terraform
  #       uses: hashicorp/setup-terraform@v3
  #       with:
  #         terraform_version: "1.12.2"

  #     - name: Terraform Init
  #       id: terraform_init
  #       run: terraform -chdir=terraform/mathews-recurring-revenue-stg init -no-color

  #     - name: Terraform Apply
  #       id: terraform_apply
  #       run: echo "terraform apply"
