name: Terraform Deploy Staging

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'
  push:
    branches:
      - main
    paths:
      - 'terraform/mathews-recurring-revenue-stg/**'

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      # https://github.com/google-github-actions/auth
      - uses: google-github-actions/auth@v3
        with:
          project_id: mathews-recurring-revenue-stg
          workload_identity_provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2"

      - name: Terraform Init
        run: |
          terraform \
            -chdir=terraform/mathews-recurring-revenue-stg \
            init \
            -input=false
