name: Terraform Deploy Staging

on:
  push:
    branches-ignore:
      - main
    paths:
      - terraform/mathews-recurring-revenue-stg/**
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  #     - synchronize

permissions:
  contents: read
  id-token: write

jobs:
  deploy-terraform-stg:
    uses: ./.github/workflows/terraform-deploy.yml
    with:
      tf-project: terraform/mathews-recurring-revenue-stg
      gcp-project: mathews-recurring-revenue-stg
      gcp-workload-identity-provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
