name: Terraform Deploy

on:
  workflow_call:
    inputs:
      tf-project:
        required: true
        type: string
      gcp-project:
        required: true
        type: string
      gcp-workload-identity-provider:
        required: true
        type: string

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      # https://github.com/google-github-actions/auth

      - uses: google-github-actions/auth@v3
        with:
          project_id: ${{ inputs.gcp-project }}
          workload_identity_provider: ${{ inputs.gcp-workload-identity-provider }}

      - name: List authenticated accounts
        run: gcloud auth list

      - name: List projects
        run: gcloud projects list

      - name: List terraform directory content
        run: ls -la ${{ inputs.tf-project }}
