name: Terraform Deploy Staging

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches-ignore:
      - main
    # paths:
    #   - terraform/mathews-recurring-revenue-stg/**

jobs:
  deploy-terraform-stg:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"

      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"

      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"

      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"

      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Get test file content
        run: cat ${{ github.workspace }}/terraform/mathews-recurring-revenue-stg/test.txt

      - name: Print GitHub Workspace 
        run: echo ${{ github.workspace }}

      - name: Print working directory
        run: pwd

# permissions:
#   contents: read
#   id-token: write

# jobs:
#   deploy-terraform-stg:
#     uses: ./.github/workflows/terraform-deploy.yml
#     with:
#       tf-project: terraform/mathews-recurring-revenue-stg
#       gcp-project: mathews-recurring-revenue-stg
#       gcp-workload-identity-provider: projects/724228842720/locations/global/workloadIdentityPools/github/providers/mathews-recurring-revenue
