name: Terraform Deploy

on:
  workflow_call:
    inputs:
      tf-project:
        required: true
        type: string

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Get file content
        run: cat ${{ github.workspace }}/${{ inputs.tf-project }}/env.txt
