name: Terraform Deploy Staging

on:
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  #     - synchronize
  push:
    branches-ignore:
      - main
    # paths:
    #   - terraform/mathews-recurring-revenue-stg/**

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      # https://github.com/google-github-actions/auth

      - uses: google-github-actions/auth@v3
        with:
          project_id: ${{ inputs.gcp-project }}
          workload_identity_provider: ${{ inputs.gcp-workload-identity-provider }}

      - name: List authenticated accounts
        run: gcloud auth list

      - name: List projects
        run: gcloud projects list

      - name: List terraform directory content
        run: ls -la ${{ inputs.tf-project }}
